{:lein     {:profile "+dev"}

 :dev-http {8000 "public"}

 :builds
 {:test
  {:target     :esm
   :output-dir "target/test"
   :modules    {:rfx-test {:exports {:Button rfx.components/Button}}}}

  :app
  {:target     :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules    {:main {:entries [rfx-todomvc.ui]}}}}}
